<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <strong id="footer-left">&copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.description || config.author || '' %></strong>
      <strong id="footer-right"><%= __('powered_by') %> <a href="<%- url_for() %>" target="_blank"><%= config.author || 'distinctionpp' %></a></strong>
      <span id="footer-clearfix"></span>
    </div>
  </div>
</footer>